@using MvcBookStore.Models
@using PagedList.Mvc
@model PagedList.PagedList<SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ĐÂY LÀ TRANG CHỦ</h2>
<div class="row">

    @foreach (var sach in Model)
    {

        <div class="card col-sm-4 col-md-4 col-lg-4 d-flex align-items-stretch book-section">

            <a href="@Url.Action("Details", "BookStore", new { id = sach.MaSach })">
                <img class="card-img-top book-picture"
                     src="~/Images/@sach.Hinhminhhoa" alt="Card image">
            </a>
            <div class="card-body">
                <h4 class="card-title">@sach.TenSach</h4>
                <p class="card-text">@sach.Dongia</p>
            </div>
        </div>
    }
</div>
<!-- Thêm mã phân trang -->
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<!-- Kết thúc -->